<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mes huiles essentielles</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/layout.css">
</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<h2>Bienvenue sur la foire aux questions (FAQ)</h2>

	<div>
		<p>Cette partie du site recense les différentes question qui
			peuvent se poser.</p>
	</div>

	<div>
		<h3>Comment ajouter une huiles/ une plante/ ... etc ?</h3>
		<p>POur ajouter une huile ou une plante, il suffit de se rendre
			sur la page listant les différents éléments et de cliquer sur
			ajouter. POur lier une huile et une plante il faut néanmoisn les
			créer séparemment puis les liers à l'aide du bouton éditer présent
			sur les deux pages.</p>
	</div>
	
	<div>
		<h3>Partie etapes :</h3>
		<p>POur ajouter une huile ou une plante, il suffit de se rendre
			sur la page listant les différents éléments et de cliquer sur
			ajouter. POur lier une huile et une plante il faut néanmoisn les
			créer séparemment puis les liers à l'aide du bouton éditer présent
			sur les deux pages.</p>
	</div>

</body>
</html>