<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mes huiles essentielles</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
<link  rel="stylesheet" href="css/layout.css">
</head>

<body>

	<nav th:replace="navigation.html"></nav>
	<h2>Huile essentielle : [[${HuileEssentielle.libelle }]]</h2>



	<a class="btn btn-info" href="HuilesEssentielles">Retour </a>
</body>
</html>