<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mes huiles essentielles</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>

<body>

	<nav th:replace="navigation.html"></nav>
	<h2>Page d'ajout d'une huile essentielle</h2>


	<form action="#" th:action="@{/HuileEssentielleAjout}"
		th:object="${wrap}" method="post">
		<fieldset>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td scope="row">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">Libelle
									:</span>
							</div> <input type="text" name="libelle"
							th:value="${HuileEssentielle?.libelle}">
						</td>


						<td scope="row">
							<ul th:each="categorie, itemStat : *{categories}">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Categorie
											:</span>
									</div>
									<input th:field="*{categories[__${itemStat.index}__].libelle}" />
								</div>
							</ul>
						</td>

						<td class="input-group mb-3" th:if="${plante?.id==0}">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">Plante :</span>
							</div>
							<select name="plante">
								<option value="0">Pas de plante associé</option>
								<option th:each="plante : ${plantes}" th:value="${ plante.id }"
									th:text="${ plante.libelle }"></option>
							</select>
						</td>
						
						
						<td class="input-group mb-3" th:if="${plante?.id!=0}">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">Plante :</span>
							</div>
							<select name="plante">
								<option value="0">[[${plante.libelle }]]</option>
								<option th:each="plante : ${plantes}" th:value="${ plante.id }"
									th:text="${ plante.libelle }"></option>
							</select>
						</td>


						<td scope="row">
							<ul th:each="propriete, itemStat : *{proprietes}">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Proprietes
											:</span>
									</div>
									<input th:field="*{proprietes[__${itemStat.index}__].libelle}" />
								</div>
							</ul>
						</td>



						<td scope="row">
							<ul th:each="utilisation, itemStat : *{utilisations}">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Utilisations
											:</span>
									</div>
									<input
										th:field="*{utilisations[__${itemStat.index}__].libelle}" />
								</div>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button class="btn btn-success" type="submit"
					th:if="${HuileEssentielle.id==0}">add me !</button>
				<button class="btn btn-warning" type="submit"
					th:if="${HuileEssentielle.id!=0}">mod me !</button>
				<a class="btn btn-info" href="HuilesEssentielles">Retour </a>
			</div>
		</fieldset>
	</form>

</body>
</html>