<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mes huiles essentielles</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="PlanteDetail.css">
<meta charset="UTF-8">
</head>

<body>

	<nav th:replace="navigation.html"></nav>
	<h2>Plante : [[${Plante.libelle }]]</h2>
	<div>
		<img alt="Image de la plante" th:src="@{${Plante.image}}"
			width="500px">
	</div>


	<ul>
		<li>Libelle de la plante : [[${Plante.libelle }]]</li>
		<li>Libelle latin de la plante : [[${Plante.libelleLatin }]]</li>
		<li>Provenance : [[${Plante.provenance }]]</li>
		<li>Detail : [[${Plante.detail }]]</li>

	</ul>


	<a class="btn btn-info" href="Plantes">Retour </a>
</body>
</html>